.check-container {
    width: 100%;
    align-self: center;
    display: flex;
}

.checkmark {
    position: relative;
    top: 3px;
    left: -16px;
    /* fill: none; */
    /* stroke: #c1bf55; */
    /* stroke-width: 2;
    stroke-dasharray: 38 38;
    stroke-dashoffset: 38; */
    transition: all 0.5s ease-out;
    pointer-events: none;
}
.check-container > svg.checkmark {
    width: 15px; 
    height: 15px;
}
.button {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #c8d4d9;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label + .checkmark {
    stroke-dashoffset: 10;
}

input[type="checkbox"]:checked+.button {
    border: 1px solid #c8d4d9;
    background-color: transparent;
    opacity: .8;
}
