.dropbtn {
    background-color: #d9e5f8;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-content p {
    font-size: 14px;
    color: rgb(36, 36, 36);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}


.dropdown-content p:hover {
    background-color: #e9e9e9;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: relative;
    z-index: 99;
}
